<!DOCTYPE html>
<html>
<head>
  <title>Signup Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }

    .container {
      width: 300px;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .container label {
      display: block;
      margin-bottom: 5px;
    }

    .container input {
      width: calc(100% - 12px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .container input[type="submit"] {
      width: 100%;
      background: #007BFF;
      border: none;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      border-radius: 3px;
    }

    .container input[type="submit"]:hover {
      background: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Signup</h1>
    <form action="/signup" method="post">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br>
      <label for="amazon_code">Amazon Code:</label><br>
      <input type="text" id="amazon_code" name="amazon_code" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Submit">
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
  <script>
    const formInputs = document.querySelectorAll('form input');
    const submitButton = document.getElementById('submitButton');

    formInputs.forEach(input => {
      input.addEventListener('input', () => {
        const allInputsFilled = Array.from(formInputs).every(input => input.value !== '');
        submitButton.disabled = !allInputsFilled;
      });
    });
  </script>
</body>
</html>
